<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.wms_be.mapper.purchase.PurchaseDetailsMapper">
    
    <resultMap id="PurchaseDetailsMap" type="org.example.wms_be.entity.purchase.PurchaseRequestDetails"
               autoMapping="true">
        <id property="sysIdChiTietDonHang" column="sys_id_chi_tiet_don_hang"/>
        <result property="maInBound" column="sys_id_inbound"/>
        <result property="maPR" column="ma_pr"/>
        <result property="maPO" column="ma_po"/>
        <result property="maKhachHang" column="sys_id_khang_hang"/>
        <result property="maSanPham" column="sys_id_san_pham"/>
        <result property="soLuong" column="so_luong"/>
        <result property="gia" column="gia"/>
        <result property="tongChiPhi" column="tong_chi_phi"/>
        <result property="ngayNhap" column="ngay_nhap"/>
    </resultMap>

<!--    <resultMap id="UpdateStatusMap" type="PurchaseRequestDetails">-->
<!--        <result property="maPO" column="ma_po"/>-->
<!--        <result property="maPR" column="ma_pr"/>        -->
<!--    </resultMap>-->
    
    <insert id="insertPurchaseDetails" useGeneratedKeys="true" keyProperty="sysIdChiTietDonHang">
        INSERT INTO chi_tiet_don_hang(sys_id_inbound, ma_pr, ma_po, sys_id_khang_hang, sys_id_san_pham, so_luong, gia,
                                      tong_chi_phi, ngay_nhap)
        VALUES (#{maInBound}, #{maPR}, #{maPO}, #{maKhachHang}, #{maSanPham}, #{soLuong}, #{gia}, #{tongChiPhi},
                #{ngayNhap});
    </insert>
    
    <update id="updatePurchaseDetails">
        UPDATE chi_tiet_don_hang
        SET
            --             sys_id_inbound    = #{maInBound},
            --             ma_pr             = #{maPR},
            --             ma_po             = #{maPO},
            sys_id_khang_hang = #{maKhachHang},
            sys_id_san_pham   = #{maSanPham},
            so_luong          = #{soLuong},
            gia               = #{gia},
            tong_chi_phi      = #{tongChiPhi},
            ngay_nhap         = #{ngayNhap}
                    WHERE sys_id_chi_tiet_don_hang = #{sysIdChiTietDonHang};
    </update>
    
    <select id="getAllPurchaseDetails" resultMap="PurchaseDetailsMap">
        SELECT sys_id_chi_tiet_don_hang,
               sys_id_inbound,
               ma_pr,
               ma_po,
               sys_id_khang_hang,
               sys_id_san_pham,
               so_luong,
               gia,
               tong_chi_phi,
               ngay_nhap
        FROM chi_tiet_don_hang;
    </select>
    
    <select id="getPurchaseRequestById" resultMap="PurchaseDetailsMap">
        SELECT sys_id_chi_tiet_don_hang,
               sys_id_inbound,
               ma_pr,
               ma_po,
               sys_id_khang_hang,
               sys_id_san_pham,
               so_luong,
               gia,
               tong_chi_phi,
               ngay_nhap
        FROM chi_tiet_don_hang
        WHERE ma_pr = #{maPR};
    </select>
    
    <select id="existById" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM chi_tiet_don_hang
                      WHERE sys_id_chi_tiet_don_hang = #{sysIdChiTietDonHang});
    </select>
    
    <select id="getPRDetailByMaPR" parameterType="string" resultMap="PurchaseDetailsMap">
        select sys_id_chi_tiet_don_hang,
               ma_pr,
               ma_po,
               sys_id_khang_hang,
               sys_id_san_pham,
               so_luong,
               gia,
               tong_chi_phi,
               ngay_nhap
        from chi_tiet_don_hang
        where ma_pr = #{maPR}
    </select>

    <update id="updateDetailsFromPR">
        update chi_tiet_don_hang
        set ma_po = #{maPO}
        where ma_pr = #{maPR}
    </update>

    <select id="getPurchaseRequestByMaPO" resultMap="PurchaseDetailsMap">
        SELECT sys_id_chi_tiet_don_hang,
               sys_id_inbound,
               ma_pr,
               ma_po,
               sys_id_khang_hang,
               sys_id_san_pham,
               so_luong,
               gia,
               tong_chi_phi,
               ngay_nhap
        FROM chi_tiet_don_hang
        WHERE ma_po = #{maPO};
    </select>

</mapper>
